<html>
<body>


<nav th:fragment="allDevicesPagination" aria-label="Page navigation">
      <ul th:if="${deviceListAtr.totalPages > 0 && #request.getParameter('page') != null}" class="pagination justify-content-end">
        <li th:class="${#request.getParameter('page')} == 1 ? 'page-item disabled' : 'page-item'">
          <a class="page-link"
             th:href="@{/devices/page/(size=${deviceListAtr.size}, page=${#request.getParameter('page')} - 1)}"
             tabindex="-1">Назад</a>
        </li>
        <li th:each="pageNumber : ${pageNumbers}"
            th:class="${pageNumber} == ${#request.getParameter('page')} ? 'page-item active' : 'page-item'">
          <a th:href="@{/devices/page/(size=${deviceListAtr.size}, page=${pageNumber})}"
             th:text="${pageNumber}"
             class="page-link"></a>
        <li th:class="${#request.getParameter('page')} == ${pageNumbers.size()} ? 'page-item disabled' : 'page-item'">
          <a class="page-link"
             th:href="@{/devices/page/(size=${deviceListAtr.size}, page=${#request.getParameter('page')} + 1)}">Вперёд</a>
        </li>
      </ul>
</nav>


</body>
</html>



