<html>
<body>
<div th:fragment="myHeader">
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <!-- Bootstrap CSS -->
    <link th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap-grid.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/5.15.2/css/all.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>

    <title>EasyCRM</title>
</div>
</body>
</html>