<html>
<body>
<div th:fragment="navbar(activeLink)">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">EasyRide</a>
            <button
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarNav"
                    data-bs-toggle="collapse"
                    type="button"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a th:class="${#strings.equals(activeLink, 'orders')}
                        ? 'nav-link active' : 'nav-link'"  th:href="@{/orders/page/?size=100&page=1&statusId=-1}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${#strings.equals(activeLink, 'home')}
                        ? 'nav-link active' : 'nav-link'" th:href="@{/}">Новый заказ</a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${#strings.equals(activeLink, 'clients')}
                        ? 'nav-link active' : 'nav-link'"  th:href="@{/clients/page/?size=100&page=1}">Клиенты</a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${#strings.equals(activeLink, 'devices')}
                        ? 'nav-link active' : 'nav-link'" th:href="@{/devices/page/?size=100&page=1}">Девайсы</a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${#strings.equals(activeLink, 'masters')}
                        ? 'nav-link active' : 'nav-link'" href="/users">Мастера</a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${#strings.equals(activeLink, 'settings')}
                        ? 'nav-link active' : 'nav-link'" href="/settigns">Настройки</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>