.orderSection {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.item-datalist {
    margin-top: 0.5em;
}
.form-group.textArea-comments {
    margin-bottom: 10px;
}
.form-control.whatToFix {
    margin-top: 10px;
    margin-bottom: 10px;
}
.price-text {
    margin-bottom: 1em;
}
.price-text span.price-text-inner {
    font-size: 1.5em;
    font-weight: 600;
}
.price-text span.price-text-sum {
    font-size: 1.5em;
    font-weight: 600;
}
hr {
    box-shadow: 2px 2px 2px cornflowerblue;
}
td button.btn-danger {
    margin-right: 0;
}
.device-list-section {
    margin-bottom: 1rem;
}
.pagination {
    margin-top: 10px;
    margin-bottom: 10px;
}