<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xsi:schemaLocation="http://www.thymeleaf.org "
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      lang="ru"
>
<head>
  <div th:replace="fragments/header :: myHeader"></div>
</head>
<body>
<!-- Navbar -->
<div th:insert="fragments/navbar :: navbar('settings')"></div>

<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body">

        <table class="table">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Название</th>
            <th scope="col">Описание</th>
            <th scope="col">Категория</th>
            <th scope="col">Приоритет</th>
            <th scope="col">Цена</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="item : ${itemsAtr}"
              class="table-row"
              th:onclick="'window.location=\'' + @{/items/} + ${item.id}+ '\''"
              th:if="${item.id} != 0"
          >
            <td><a
                th:href="@{/items/} + ${item.id}"
                th:text="${item.id}">0
            </a></td>
            <td th:text="${#strings.defaultString(item.name, ' - - - ')}">
              Название
            </td>
            <td th:text="${#strings.defaultString(item.description, ' - - - ')}">
              Описание
            </td>
            <td th:text="${#strings.defaultString(item.category.name, ' - - - ')}">
              Категория
            </td>
            <td th:text="${#strings.defaultString(item.priority, ' - - - ')}">
              Категория
            </td>
            <td th:text="${#strings.defaultString(item.price, ' - - - ')}">
              Категория
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <form action="/items/new">
      <button class="btn btn-success create-item">
        Создать
      </button>
    </form>
  </div>
</div>

<div th:replace="fragments/footer :: myFooter"></div>
</body>
</html>