<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xsi:schemaLocation="http://www.thymeleaf.org "
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      lang="ru"
>
<head>
  <div th:replace="fragments/header :: myHeader"></div>
</head>
<body>
<!-- Navbar -->
<div th:insert="fragments/navbar :: navbar('orders')"></div>

<div class="container">
  <div class="row">
    <div class="col">
      <form th:action="@{/orders/page/}" class="status-filter">
        <input type="hidden" name="size" value="100">
        <input type="hidden" name="page" value="1">
        <div class="input-group">
          <select class="form-select" aria-label="Select with button"
                  name="statusId">
            <option value="-1">Все активные</option>
            <option value="">Все</option>
            <option
                th:each="st : ${statusesAtr}"
                th:text="${st.name}"
                th:value="${st.id}"
                th:selected="${#request.getParameter('statusId')} == ${st.id}"
            ></option>
          </select>
          <button type="submit" class="btn btn-outline-secondary">Искать
          </button>
        </div>
      </form>
    </div>

    <div class="col">
      <form th:action="@{/searchOrder/}" class="search ">
        <div class="input-group justify-content-end">
          <div class="form-outline">
            <input type="number" th:name="id" id="form1"
                   class="form-control" placeholder="Номер заказа"/>
          </div>
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
    </div>


    <div class="card">
      <div class="card-body">

        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Номер заказа</th>
            <th scope="col">Клиент</th>
            <th scope="col">Что чиним</th>
            <th scope="col">Кратко</th>
            <th scope="col">Статус</th>
            <th scope="col">Особые пометки</th>
            <th scope="col">Когда приняли</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="order : ${orderListAttr}"
              th:onclick="'window.location=\'' + @{/orders/} + ${order.orderId}+ '\''"
              class="table-row">
            <td><a th:href="@{/orders/} + ${order.orderId}"
                   th:text="${order.orderId}">0</a></td>
            <td th:if="${order.client}" th:text="${order.client.name}">Глеб
            </td>
            <td th:unless="${order.client}" th:text="'Неизвестный клиент'">
              Глеб
            </td>
            <td th:if="${order.device}" th:text="${order.device.deviceName != null}
                        ? ${order.device.deviceName}
                        : ${order.device.vendor} + ' ' + ${order.device.model}">
            <td th:unless="${order.device}" th:text="Неизвестный">Велосипед
            </td>

            <td th:text="${order.smallDescription}">Красный</td>
            <td th:text="${order.executeStatus.name}">Обрабатывается</td>
            <td th:text="${order.orderDescription}">Сегодня!</td>
            <td th:text="${#dates.format(order.timestamp, 'dd.MM.yyyy')}">
              21/12/2012
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div th:replace="fragments/ordersPagination :: allOrdersPagination"></div>
  </div>

  <div th:replace="fragments/footer :: myFooter"></div>
</body>
</html>