<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xsi:schemaLocation="http://www.thymeleaf.org "
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      lang="ru"
>
<head>
    <div th:replace="fragments/header :: myHeader"></div>
</head>
<body>
<!-- Navbar -->
<div th:insert="fragments/navbar :: navbar('orders')"></div>

<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Номер заказа</th>
                        <th scope="col">Что чиним</th>
                        <th scope="col">Кратко</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Особые пометки</th>
                        <th scope="col">Когда приняли</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orderListAttr}">
                        <td><a th:href="@{/orders/} + ${order.orderId}" th:text="${order.orderId}"></a></td>
                        <td th:text="${order.device.deviceName != null}
                        ? ${order.device.deviceName}
                        : ${order.device.vendor} + ' ' + ${order.device.model}">

                        <td th:text="${order.smallDescription}">Otto</td>
                        <td th:text="${order.executeStatus}">Otto</td>
                        <td th:text="${order.orderDescription}">Otto</td>
                        <td th:text="${#dates.format(order.timestamp, 'dd.MM.yyyy')}">Otto</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: myFooter"></div>
</body>
</html>