<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="en">

<head>
  <div th:replace="fragments/header :: myHeader"></div>
</head>
<body>
<!-- Navbar -->
<div th:insert="fragments/navbar :: navbar('clients')"></div>

<div class="container">
  <div class="row sectionRow">
    <div class="card">
      <div class="card-body">
        <form id="form" th:action="@{/devices/save}" th:object="${deviceAtr}">
          <input type="hidden" th:field="*{deviceId}">
          <input type="hidden" th:field="*{ownerId}">
          <input type="hidden" th:if="*{timestamp}" th:field="*{timestamp}">

          <div><span>Хозяин: </span>
            <a th:text="${clientAtr.name}" th:href="@{/clients/{id}(id=${clientAtr.id})}"></a>
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-text order-labels">Название:</span>
            <input type="text" th:field="*{deviceName}" class="form-control">
          </div>
          <div class="input-group">
            <span class="input-group-text order-labels">Описание: </span>
            <input type="text" th:field="*{description}" class="form-control">
          </div>

<br>
          <button
              class="btn btn-primary"
              type="button"
              onclick="submitForm();"
              id="confirm-order-button"
          >
            Сохранить
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap js -->
<div th:insert="fragments/footer :: myFooter"></div>
</body>
</html>