<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      lang="en">

<head>
  <div th:replace="fragments/header :: myHeader"></div>
</head>
<body>
<!-- Navbar -->
<div th:insert="fragments/navbar :: navbar('settings')"></div>

<div class="container">
  <div class="row sectionRow">
    <div class="card">
      <div class="card-body">
        <form id="form" th:action="@{/items/save}" th:object="${itemAtr}">
          <input type="hidden" th:field="*{id}">

          <div class="input-group">
            <span class="input-group-text order-labels">Название:</span>
            <input type="text" th:field="*{name}" class="form-control">
          </div>
          <div class="input-group">
            <span class="input-group-text order-labels">Описание:</span>
            <textarea type="text" th:field="*{description}"
                      class="form-control"></textarea>
          </div>
          <div class="input-group">
            <span class="input-group-text order-labels">Цена: </span>
            <input type="number" min="0" th:field="*{price}"
                   class="form-control">
          </div>
          <div class="input-group">
            <span class="input-group-text order-labels">Категория: </span>
            <select th:field="*{category}" class="form-control">
              <option th:each="cat : ${categoriesAtr}"
                      th:value="${cat.id}"
                      th:text="${cat.name}"
              ></option>
            </select>
          </div>
          <div class="input-group">
            <span class="input-group-text order-labels">Приоритет: </span>
            <input type="text" th:field="*{priority}" class="form-control">
          </div>
          <br>
          <button
              class="btn btn-primary"
              type="button"
              onclick="submitForm();"
              id="save-item-button"
          >
            Сохранить
          </button>
          <button
              class="btn btn-danger"
              type="button"
              th:onclick="deleteWorkById('/items/delete?itemId=[[*{id}]]')"
              id="delete-order-button"
          >
            Удалить
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap js -->
<div th:insert="fragments/footer :: myFooter"></div>
</body>
</html>