<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      lang="en">

<head>
  <div th:replace="fragments/header :: myHeader"></div>
</head>

<body>
<!-- Navbar -->
<div th:insert="fragments/navbar :: navbar('home')"></div>

<!-- Section with orders -->
<form th:action="@{/orders/saveWrapper}" th:object="${ordersWrapperAtr}"
      id="form" some="s">
  <div class="container orderSection" id="orderSectionId">
    <div class="row sectionRow" th:each="order, i : *{orderList}">
      <div class="col"></div>
      <div class="col-sm-8">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="order-segment">
              <input type="hidden" class="rowIdGen"
                     th:field="*{orderList[__${i.index}__].executeStatus}">


              <!--Device section-->

              <!--Select device-->
              <div class="input-group device-list-section"
                   th:style="${devisesAtr} ? '' : 'display:none'"
              >
                <select
                    class="form-control rowIdGen itemIdGen"
                    list="datalistOptions"
                    placeholder="Что нужно сделать?"
                    th:field="*{orderList[__${i.index}__].device}"
                >
                  <option th:each="device : ${devisesAtr}"
                          th:text="${device.deviceName != null}
                                            ? ${device.deviceName}
                                            : ${device.vendor} + ' ' + ${device.model}"
                          th:value="${device.deviceId}"
                          th:selected="${device} == *{orderList[__${i.index}__].device}"
                  >
                  </option>
                </select>

                <!--Кнопочка с велосипедиком-->
                <span class="input-group-text toggle-button"
                      onclick="toggleDeviceSection(this);"
                      th:if="${devisesAtr}"><i
                    class="fas fa-bicycle"></i></span>
              </div>

              <!--New Device-->
              <div class="new-device-section"
                   th:style="${devisesAtr} ? 'display:none' : ''">
                <div class="input-group mb-3">
                  <!--Что чиним?-->
                  <input type="text" class="form-control toClean rowIdGen"
                         th:field="*{orderList[__${i.index}__].device.deviceName}"
                         placeholder="Что чиним?" aria-label="Что чиним?">
                  <span class="input-group-text toggle-button"
                        th:if="${devisesAtr}"
                        onclick="toggleDeviceSection(this)"><i
                      class="fas fa-bicycle"></i></span>
                  <span class="input-group-text toggle-button"
                        th:unless="${devisesAtr}"><i class="fas fa-bicycle"></i></span>
                  <!--Краткое описание-->
                  <input type="text" class="form-control toClean rowIdGen"
                         th:field="*{orderList[__${i.index}__].device.description}"
                         placeholder="Описание" aria-label="Описание">
                </div>
              </div>


              <!-- Service line -->
              <div class="item-datalist input-group"
                   th:each="service, j : ${order.listOfServices}">

                <!-- Quantity input -->
                <input type="number" class="qty form-control rowIdGen itemIdGen"
                       th:field="*{orderList[__${i.index}__].listOfServices[__${j.index}__].qty}"
                       value="1"
                       placeholder="Количество" aria-label="Краткое описание"
                       onchange="calculatePrice(this);"
                       min="1">

                <!-- DataList -->
                <input
                    class="datalist form-control rowIdGen itemIdGen"
                    list="datalistOptions"
                    placeholder="Что нужно сделать?"
                    th:style="*{orderList[__${i.index}__].listOfServices[__${j.index}__].description} == '' ?
                                        'display:inline' : 'display:none'"
                >

                <!--Hidden Input for datalist-->
                <input type="hidden" class="hiddenItem rowIdGen itemIdGen"
                       value="0"
                       th:field="*{orderList[__${i.index}__].listOfServices[__${j.index}__].item}">

                <!--Price span label-->
                <span class="input-group-text price toggle-button"
                      th:with="item=*{orderList[__${i.index}__].listOfServices[__${j.index}__].item}"
                      th:text="${item.price} == '0.0' ? 'Цена' : ${item.price}"
                      th:style="*{orderList[__${i.index}__].listOfServices[__${j.index}__].description} == '' ?
                                      'display:inline' : 'display:none'">Цена</span>

                <!--Input description-->
                <input type="text"
                       class="input form-control toClean rowIdGen itemIdGen"
                       th:field="*{orderList[__${i.index}__].listOfServices[__${j.index}__].description}"
                       placeholder="Краткое описание"
                       aria-label="Краткое описание"
                       th:style="*{orderList[__${i.index}__].listOfServices[__${j.index}__].description} == '' ?
                                       'display:none' : 'display:inline'">
                <!--Input price-->
                <input type="number"
                       class="form-control price toClean rowIdGen itemIdGen"
                       onchange="calculatePrice(this);"
                       th:field="*{orderList[__${i.index}__].listOfServices[__${j.index}__].price}"
                       placeholder="Цена" aria-label="Цена"
                       th:style="*{orderList[__${i.index}__].listOfServices[__${j.index}__].description} == '' ?
                                       'display:none' : 'display:inline'">
                <!--Checkbox isCustom-->
                <input type="checkbox" class="checkbox rowIdGen itemIdGen"
                       th:field="*{orderList[__${i.index}__].listOfServices[__${j.index}__].isCustom}"
                       style="display:none;"
                >

                <!--Кнопки плюс и минус-->
                <div>
                  <button
                      class="btn btn-danger"
                      type="button"
                      onclick="removeItemList(this, false);"
                      style="display: none">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                  </button>
                  <button
                      class="btn btn-success"
                      type="button"
                      onclick="duplicateItemList(this, false);">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                  <button
                      class="btn btn-primary"
                      type="button"
                      onclick="exchange(this);">
                    <i class="fas fa-exchange-alt"></i>
                  </button>
                </div>

              </div>
              <br/>
              <div class="price-text text-end">
                <span class="price-text-inner ">Сумма работ: </span>
                <span class="price-text-sum calculate">- р.</span>
              </div>
              <br/>


              <!-- Parts line -->
              <div class="item-datalist parts input-group"
                   th:each="part, j : ${order.listOfParts}">

                <!-- Quantity input -->
                <input type="number" class="qty form-control rowIdGen itemIdGen"
                       th:field="*{orderList[__${i.index}__].listOfParts[__${j.index}__].qty}"
                       value="1"
                       placeholder="Кол-во" aria-label="Краткое описание"
                       onchange="changePrice(this, true);"
                       min="1">

                <!-- DataList -->
                <input
                    class="datalist form-control rowIdGen itemIdGen"
                    list="partListOptions"
                    placeholder="Запчасть"
                    th:style="*{orderList[__${i.index}__].listOfParts[__${j.index}__].isStock} ?
                                        'display:inline' : 'display:none'"
                >

                <!--Hidden Input for datalist-->
                <input type="hidden" class="hiddenItem part rowIdGen itemIdGen"
                       value="0"
                       th:field="*{orderList[__${i.index}__].listOfParts[__${j.index}__].stock}">

                <!--Price span label-->
                <span class="input-group-text partPrice toClean toggle-button"
                      th:with="stock=*{orderList[__${i.index}__].listOfParts[__${j.index}__].stock}"
                      th:text="${stock.price} == '0.0' ? 'Цена' : ${stock.price}"
                      th:style="*{orderList[__${i.index}__].listOfParts[__${j.index}__].isStock} ?
                                      'display:inline' : 'display:none'">Цена</span>

                <!--Input description-->
                <input type="text"
                       class="input form-control toClean rowIdGen itemIdGen"
                       th:field="*{orderList[__${i.index}__].listOfParts[__${j.index}__].name}"
                       placeholder="Название запчасти"
                       aria-label="Название запчасти"
                       th:style="*{orderList[__${i.index}__].listOfParts[__${j.index}__].isStock} == false ?
                                      'display:inline' : 'display:none'">

                <!--Purchase price-->
                <input type="number"
                       class="form-control price2 toClean rowIdGen itemIdGen"
                       onchange="changePrice(this, true);"
                       th:field="*{orderList[__${i.index}__].listOfParts[__${j.index}__].purchasePrice}"
                       placeholder="Закупка" aria-label="Закупка"
                       th:style="*{orderList[__${i.index}__].listOfParts[__${j.index}__].isStock} == false ?
                                      'display:inline' : 'display:none'">
                <select class="form-control extra"
                        onchange="changePrice(this.previousElementSibling, true);"
                        th:with="purchase = *{orderList[__${i.index}__].listOfParts[__${j.index}__].purchasePrice},
                    price = *{orderList[__${i.index}__].listOfParts[__${j.index}__].price}"
                        th:style="*{orderList[__${i.index}__].listOfParts[__${j.index}__].isStock} == false ?
                                      'display:inline' : 'display:none'">
                  <option value="0">0%</option>
                  <option
                      th:selected="
                  ${#numbers.formatDecimal(purchase * 1.2,3,2)} ==
                  ${#numbers.formatDecimal(price,3,2)}
                   ? true : false"
                      value="20">
                    20%
                  </option>
                  <option th:selected="
                  ${#numbers.formatDecimal(purchase * 1.3,3,2)} ==
                  ${#numbers.formatDecimal(price,3,2)}
                   ? true : false"
                          value="30">
                    30%
                  </option>
                </select>
                <!--Price-->
                <input type="number"
                       readonly
                       class="form-control partPrice custom toClean rowIdGen itemIdGen"
                       onchange="calculatePartsPrice(this);"
                       th:field="*{orderList[__${i.index}__].listOfParts[__${j.index}__].price}"
                       placeholder="Цена" aria-label="Цена"
                       th:style="*{orderList[__${i.index}__].listOfParts[__${j.index}__].isStock} == false ?
                                      'display:inline' : 'display:none'">
                <!--Checkbox isCustom-->
                <input type="checkbox" class="checkbox rowIdGen itemIdGen"
                       th:field="*{orderList[__${i.index}__].listOfParts[__${j.index}__].isStock}"
                       style="display:none;"
                >
                <!--Кнопки плюс и минус-->
                <div>
                  <button
                      class="btn btn-danger"
                      type="button"
                      onclick="removeItemList(this, true);"
                      style="display: none">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                  </button>
                  <button
                      class="btn btn-success"
                      type="button"
                      onclick="duplicateItemList(this, true);">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                  <button
                      class="btn btn-primary"
                      type="button"
                      onclick="exchange(this);">
                    <i class="fas fa-exchange-alt"></i>
                  </button>
                </div>
              </div>
              <br>
              <div class="price-text text-end">
                <span class="price-parts-text-inner ">Сумма за запчасти: </span>
                <span class="price-parts-text-sum calculate">- р.</span>
              </div>
              <br>
              <br>
              <!--Description section-->
              <div class="order-title-section">
                <div class="input-group mb-3">
                  <!--Краткое описание-->
                  <input type="text" class="form-control toClean rowIdGen"
                         th:field="*{orderList[__${i.index}__].smallDescription}"
                         placeholder="Краткое описание"
                         aria-label="Краткое описание">
                  <span class="input-group-text">
                                        <i class="fa fa-pencil-alt"
                                           aria-hidden="true"></i></span>
                  <!--Особые отметки-->
                  <input type="text" class="form-control toClean rowIdGen"
                         th:field="*{orderList[__${i.index}__].orderDescription}"
                         placeholder="Особые отметки"
                         aria-label="Особые отметки">
                </div>
              </div>

              <div class="form-group textArea-comments">
                                <textarea
                                    th:field="*{orderList[__${i.index}__].fullDescription}"
                                    class="form-control toClean rowIdGen"
                                    id="textArea-comments1"
                                    placeholder="Комментарии"
                                    rows="5"
                                ></textarea>
              </div>

<div class="addRowButtons">
  <div class="col"></div>
              <button
                  type="button"
                  class="btn btn-primary btn-sm addRowButton"
                  onclick="duplicateRow(this.parentNode);"

              >
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
              <button
                  type="button"
                  class="btn btn-secondary btn-sm removeRowButton"
                  onclick="removeRow(this.parentNode);"
                  style="display: none"
              >
                <i class="fa fa-minus" aria-hidden="true"></i>
              </button>
</div>

            </div>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <div class="container clientSection">
    <div class="row">
      <div class="col"></div>
      <div class="col-sm-8">
        <div class="card shadow">
          <div class="card-body">
            <div class="price-text">
              <span class="price-text-inner">Итого денег: </span>
              <span class="total-sum">0 р.</span>
            </div>

            <div th:if="${clientListAtr}" class="input-group mb-3">
              <select th:field="*{client}" class="form-control">
                <option th:each="client : ${clientListAtr}"
                        th:text="'' + ${client.phoneNumber} + ' : ' + ${client.name}"
                        th:value="${client.id}"
                        th:selected="*{client} == ${client}"
                >
              </select>

              <button
                  class="btn btn-outline-secondary"
                  type="button"
                  onclick="selectClient();"
                  id="confirm-order-button"
              >
                Выбрать
              </button>
            </div>

            <div th:unless="${clientListAtr}" class="input-group mb-3"
                 th:field="*{client}">
              <input type="hidden" th:field="*{client.id}">
              <input type="hidden" th:field="*{client.phoneNumber2}">
              <input type="hidden" th:field="*{client.phoneNumber3}">
              <input type="hidden" th:field="*{client.address}">
              <input type="hidden" th:field="*{client.discount}">
              <input type="hidden" th:field="*{client.vkId}">
              <input type="hidden" th:field="*{client.fbId}">
              <input type="hidden" th:field="*{client.instagramId}">
              <input type="hidden" th:field="*{client.mailingApproval}">
              <input
                  th:field="*{client.phoneNumber}"
                  type="text"
                  class="form-control phoneNumber"
                  placeholder="Телефон"
                  aria-label="Recipient's username"
                  aria-describedby="search-phone-button"
              />
              <button
                  class="btn btn-outline-secondary"
                  onclick="ordersFindClient();"
                  type="button"
                  id="search-phone-button"
              >
                Искать
              </button>
              <input
                  th:field="*{client.name}"
                  type="text"
                  class="form-control"
                  placeholder="Имя"
                  aria-label="Recipient's username"
                  aria-describedby="confirm-order-button"
              />
            </div>

            <div class="d-grid gap-2">
              <button
                  class="btn btn-success btn-lg"
                  type="button"
                  onclick="saveOrder();"
                  th:disabled="*{client.name} and ${clientListAtr} == null ? 'false' : 'disabled'"
                  id="confirm-order-button"
              >
                Оформить заказ
              </button>
            </div>


          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <!--  <input type="submit" value="Save">-->
</form>
<!-- Options for dataList -->

<!--<input list="datalistOptions"-->
<!--       class="form-control rowIdGen itemIdGen"-->
<!--       th:field="*{orderList[__${i.index}__].listOfServices[__${j.index}__].item}">-->
<datalist id="datalistOptions">
  <option th:each="item : ${itemsAtr}"
          th:price="${item.price}"
          th:value="${item.name}"
          th:data-value="${item.id}"
  >
  </option>
</datalist>
<datalist id="partListOptions">
  <option th:each="item : ${stockAtr}"
          th:price="${item.price}"
          th:value="${item.name}"
          th:data-value="${item.id}"
  >
  </option>
</datalist>
<!-- Bootstrap js -->
<div th:insert="fragments/footer :: myFooter"></div>
<script>
    window.onload = function () {
        saveOrderSection();
        saveDeviceSection();
        hideAndDisplayDatalistButtons();
        hideAndDisplayDatalistButtons(true);
        hideAndDisplayRowButtons();
        addListeners();
        loadItemsFromHidden();
        let dataLists = document.querySelectorAll("input.datalist");
        if (dataLists.length === 1
            && dataLists[0].parentNode
                .querySelector(".hiddenItem").value === "0") {
            dataLists[0].value = '';
        }
        dataLists.forEach((d) => {
            calculatePrice(d);
            calculatePartsPrice(d);
        });
    }
</script>
</body>
</html>
