<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xsi:schemaLocation="http://www.thymeleaf.org "
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      lang="ru"
>

<head>
  <div th:replace="fragments/header :: myHeader"></div>
</head>

<body>
<!-- Navbar -->
<div th:insert="fragments/navbar :: navbar('orders')"></div>

<br/>
<div class="container">
  <div class="row sectionRow">
    <div class="card">
      <div class="card-body">
        <form th:action="@{/orders/save}" th:object="${orderAtr}" id="form">
          <input type="hidden" th:field="*{orderId}">
          <input type="hidden" th:field="*{timestamp}">
          <input type="hidden" th:field="*{client}">
          <input type="hidden" th:field="*{smallDescription}">
          <input type="hidden" th:field="*{executorId}">
          <input type="hidden" th:field="*{partsPrice}">
          <input type="hidden" th:field="*{workPrice}">
          <input type="hidden" th:field="*{parts}">
          <input type="hidden" th:field="*{works}">
          <input type="hidden" th:field="*{paymentStatus}">
          <input type="hidden" th:field="*{device}">
          <input type="hidden" th:field="*{orderDescription}">
          <div th:if="*{timeClose != null}">
            <input type="hidden" th:field="*{timeClose}">
          </div>

          <div class="order-info">
            <div class="order-number">
              <span class="text-for-order-number">Номер заказа:</span>
              <span class="number-of-order" th:text="*{orderId}">7015</span>
            </div>


            <div class="order-status">
              <span class="text-for-order-status">Статус заказа:</span>
              <!--              <span class="status-of-order"-->
              <!--                    th:text="*{executeStatus}">Принят</span>-->
              <select th:field="*{executeStatus}">
                <option th:each="status : ${statusesAtr}"
                        th:text="${status.name}"
                        th:value="${status.id}"
                        th:selected="${status.id == orderAtr.executeStatus.id}"
                ></option>
              </select>
            </div>
            <!--            Client section-->
            <div class="client-section">
              <div class="order-client">
                <span class="text-for-order-client">Клиент:</span>
                <a th:if="*{client}" th:href="@{/clients/{id}(id=*{client.id})}"
                   class="client-of-order"
                   th:text="*{client != null} ? *{client.name} : 'Неизвестный клиент'">Михаил
                  Велосипедовский</a>
              </div>
              <div class="order-phone">
                <span class="text-for-order-phone">Телефон:</span>
                <span class="phone-of-order"
                      th:text="*{client != null} ? *{client.phoneNumber} : '- - -'">89154446015</span>
              </div>
              <div th:if="*{client.discount}" class="order-discount">
                <span class="text-for-order-discount">Скидка:</span>
                <span class="discount-of-order"
                      th:text="*{client.discount}">- - -</span>
                <span class="text-for-order-discount">%</span>
              </div>
            </div>
          </div>

          <div class="vehicle-block">

            <div class="vehicle-info">
              <span class="text-for-vehicle-info">Что чиним:</span>
              <a th:if="*{device}"
                 class="value-of-vehicle-info"
                 th:href="@{/devices/{id}(id=*{device.deviceId})}"
                 th:text="*{device.deviceName} != null ?
                    ' _ ' +  *{device.deviceName} + ' _ ' + *{device.description} :
                    *{device.vendor} + ' ' + *{device.model}  + ': '
                    + *{device.description} " >Велосипед
                красный</a>
            </div>

            <div class="input-group mb-3" th:unless="*{device}">
              <!--Что чиним?-->
              <input type="text" class="form-control toClean rowIdGen"
                     th:field="*{device.deviceName}"
                     placeholder="Что чиним?" aria-label="Что чиним?">
              <span class="input-group-text toggle-button">
                                        <i class="fas fa-bicycle"></i></span>
              <!--Краткое описание-->
              <input type="text" class="form-control toClean rowIdGen"
                     th:field="*{device.description}"
                     placeholder="Описание" aria-label="Описание">
            </div>
          </div>


          <div class="order-executor">
            <span class="text-for-order-executor">Исполнитель:</span>
            <select class="form-select w-25" onchange="setExecutor(this)">
              <option value="20">---</option>
              <option th:each="executor : ${usersAtr}"
                      th:text="${executor.fullName}"
                      th:value="${executor.id}"
              >
              </option>
            </select>
          </div>

          <br>
          <br>

          <!--Services-->
          <span>Работы</span>
          <div class="item-datalist input-group"
               th:each="service, j : *{listOfServices}">
            <input type="hidden" class="itemIdGen deleteId"
                   th:field="*{listOfServices[__${j.index}__].serviceId}">
            <input type="hidden" class="itemIdGen order"
                   th:field="*{listOfServices[__${j.index}__].order}">

            <!-- Quantity input -->
            <input type="number" class="qty form-control rowIdGen itemIdGen"
                   th:field="*{listOfServices[__${j.index}__].qty}"
                   value="1"
                   placeholder="Количество" aria-label="Краткое описание"
                   onchange="calculatePrice();">

            <!-- DataList -->
            <input
                class="datalist form-control rowIdGen itemIdGen"
                list="datalistOptions"
                placeholder="Что нужно сделать?"
                th:style="*{listOfServices[__${j.index}__].isCustom} ?
                                        'display:none' : 'display:inline'"
            >

            <!--Hidden Input for datalist-->
            <input type="hidden" class="hiddenItem rowIdGen itemIdGen"
                   th:field="*{listOfServices[__${j.index}__].item}">

            <!--Price span label-->
            <span class="input-group-text price toggle-button"
                  th:if="*{listOfServices[__${j.index}__].item}"
                  th:text="*{listOfServices[__${j.index}__].item.price}"
                  th:style="*{listOfServices[__${j.index}__].isCustom} ?
                                      'display:none' : 'display:inline'">Цена</span>
            <span class="input-group-text price toggle-button"
                  th:unless="*{listOfServices[__${j.index}__].item}"
                  th:text="*{listOfServices[__${j.index}__].price}
                  ? *{listOfServices[__${j.index}__].price} : 'Цена'"
                  th:style="*{listOfServices[__${j.index}__].isCustom} ?
                                      'display:none' : 'display:inline'">Цена</span>

            <!--Input description-->
            <input type="text"
                   class="input form-control toClean rowIdGen itemIdGen"
                   th:field="*{listOfServices[__${j.index}__].description}"
                   placeholder="Краткое описание" aria-label="Краткое описание"
                   th:style="*{listOfServices[__${j.index}__].isCustom} ?
                                       'display:inline' : 'display:none'">

            <input type="number"
                   class="form-control price toClean rowIdGen itemIdGen"
                   onchange="calculatePrice();"
                   th:field="*{listOfServices[__${j.index}__].price}"
                   placeholder="Цена" aria-label="Цена"
                   th:style="*{listOfServices[__${j.index}__].isCustom} ?
                                       'display:inline' : 'display:none'">
            <select class="form-select executor-select itemIdGen"
                    th:field="*{listOfServices[__${j.index}__].executor}">
              <option th:each="executor : ${usersAtr}"
                      th:text="${executor.fullName}"
                      th:value="${executor.id}"
                      th:selected="${executor} == *{listOfServices[__${j.index}__].executor}"
              >
              </option>
            </select>

            <!--Checkbox isCustom-->
            <input type="hidden" class="checkbox rowIdGen itemIdGen"
                   th:field="*{listOfServices[__${j.index}__].isCustom}"
                   th:checked="*{listOfServices[__${j.index}__].isCustom}"
                   style="display: none"
            >
            <!--Кнопки плюс и минус-->
            <div>
              <button
                  class="btn btn-danger"
                  th:onclick="deleteWorkById('/services/delete?itemId=[[${service.serviceId}]]')"
                  type="button">
                <i aria-hidden="true" class="fa fa-minus float-right"></i>
              </button>
              <button
                  class="btn btn-success"
                  type="button"
                  onclick="duplicateItemList(this);">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
              <button

                  th:style=" *{listOfServices[__${j.index}__].order} == null
                  ? 'display: inline' : 'display: none'"
                  class="btn btn-primary"
                  type="button"
                  onclick="exchange(this);">
                <i class="fas fa-exchange-alt"></i>
              </button>
            </div>
          </div>
          <br>



          <!-- Parts line2 -->
          <span>Запчасти</span>
          <div class="item-datalist parts input-group"
               th:each="part, j : *{listOfParts}">
            <input type="hidden" class="itemIdGen deleteId"
                   th:field="*{listOfParts[__${j.index}__].partId}">
            <input type="hidden" class="itemIdGen order"
                   th:field="*{listOfParts[__${j.index}__].order}">

            <!-- Quantity input -->
            <input type="number" class="qty form-control rowIdGen itemIdGen"
                   th:field="*{listOfParts[__${j.index}__].qty}"
                   value="1"
                   placeholder="Кол-во" aria-label="Краткое описание"
                   onkeyup="changePrice(this, true);"
                   onchange="changePrice(this, true);">

            <!-- DataList -->
            <input
                class="datalist form-control rowIdGen itemIdGen"
                list="partListOptions"
                placeholder="Запчасть"
                th:style="*{listOfParts[__${j.index}__].isStock} ?
                                        'display:inline' : 'display:none'"
            >

            <!--Hidden Input for datalist-->
            <input type="hidden" class="hiddenItem part rowIdGen itemIdGen"
                   value="1"
                   th:field="*{listOfParts[__${j.index}__].stock}">

            <!--Price span label-->
            <span class="input-group-text partPrice toggle-button"
                  th:with="stock=*{listOfParts[__${j.index}__].stock}"
                  th:text="${stock.price} == '0.0' ? 'Цена' : ${stock.price}"
                  th:style="*{listOfParts[__${j.index}__].isStock} ?
                                      'display:inline' : 'display:none'">Цена</span>

            <!--Input description-->
            <input type="text"
                   class="input form-control toClean rowIdGen itemIdGen"
                   th:field="*{listOfParts[__${j.index}__].name}"
                   placeholder="Название запчасти"
                   aria-label="Название запчасти"
                   th:style="*{listOfParts[__${j.index}__].isStock} == false ?
                                      'display:inline' : 'display:none'">
            <!--Purchase price-->
            <input type="number"
                   class="form-control price2 toClean rowIdGen itemIdGen"
                   onkeyup="changePrice(this, true);"
                   onchange="changePrice(this, true);"
                   th:field="*{listOfParts[__${j.index}__].purchasePrice}"
                   placeholder="Закупка" aria-label="Закупка"
                   th:style="*{listOfParts[__${j.index}__].isStock} == false ?
                                      'display:inline' : 'display:none'">
            <select class="form-control extra"
                    onkeyup="changePrice(this, true);"
                    onchange="changePrice(this, true);"
                    th:style="*{listOfParts[__${j.index}__].isStock} == false ?
                                      'display:inline' : 'display:none'">
              <option value="0">0%</option>
              <option value="20">20%</option>
              <option value="30">30%</option>
            </select>
            <!--Price-->
            <input type="number"
                   readonly
                   class="form-control partPrice custom toClean rowIdGen itemIdGen"
                   onchange="calculatePartsPrice();"
                   th:field="*{listOfParts[__${j.index}__].price}"
                   placeholder="Цена" aria-label="Цена"
                   th:style="*{listOfParts[__${j.index}__].isStock} == false ?
                                      'display:inline' : 'display:none'">
            <!--Checkbox isCustom-->
            <input type="checkbox" class="checkbox rowIdGen itemIdGen"
                   th:field="*{listOfParts[__${j.index}__].isStock}"
                   th:checked="*{listOfParts[__${j.index}__].isStock}"
                   style="display:none;"
            >
            <!--Кнопки плюс и минус-->
            <div>
              <button
                  class="btn btn-danger"
                  type="button"
                  th:onclick="deleteWorkById('/parts/delete?itemId=[[${part.partId}]]')"
                  style="display: none">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </button>
              <button
                  class="btn btn-success"
                  type="button"
                  onclick="duplicateItemList(this, true);">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
              <button
                  th:with="part = *{listOfParts[__${j.index}__]}"
                  class="btn btn-primary"
                  type="button"
                  onclick="exchange(this);">
                <i class="fas fa-exchange-alt"></i>
              </button>
            </div>
          </div>
          <br>





          <div class="form-group textArea-comments">

            <label for="textArea-comments1">Описание</label>
            <textarea
                th:field="*{fullDescription}"
                class="form-control"
                id="textArea-comments1"
                th:rows="*{fullDescription} ? *{fullDescription.split('\n').length} + 2 : 5" rows="5"
            ></textarea>
          </div>

          <br>
          <br>

          <div class="price-text">
            <span class="price-text-inner">Сумма работ: </span>
            <span class="price-text-sum calculate">- р.</span>
          </div>
          <div class="price-text">
            <span class="price-parts-text-inner">Сумма за запчасти: </span>
            <span class="price-parts-text-sum calculate">- р.</span>
          </div>
          <div class="price-text">
            <span class="price-text-inner">Итого денег: </span>
            <span class="total-sum">- р.</span>
            <input type="hidden" class="price-text-sum-hidden"
                   th:field="*{fullPrice}">
          </div>
          <button
              class="btn btn-primary"
              type="button"
              onclick="saveOrder();"
              id="confirm-order-button"
          >
            Сохранить заказ
          </button>


        </form>
      </div>
    </div>
  </div>
</div>

<datalist id="datalistOptions">
  <option th:each="item : ${itemsAtr}"
          th:price="${item.price}"
          th:value="${item.name}"
          th:data-value="${item.id}"
  >
  </option>
</datalist>

<datalist id="partListOptions">
  <option th:each="item : ${stockAtr}"
          th:price="${item.price}"
          th:value="${item.name}"
          th:data-value="${item.id}"
  >
  </option>

<div th:insert="fragments/footer :: myFooter"></div>
<script>
    window.onload = function () {
        hideAndDisplayDatalistButtons();
        hideAndDisplayDatalistButtons(true);
        addListeners();
        // loadItemsFromHidden();
        loadItemsFromHidden();
        let dataLists = document.querySelectorAll("input.datalist");
        dataLists.forEach((d) => {
            calculatePrice(d);
            calculatePartsPrice(d);
        });
        document.querySelector("input.datalist")
            .dispatchEvent(new Event('input'));
    }
</script>
</body>
</html>